<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Mitch Hedberg Rest Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="app.js"></script>

</head>
<body>
    <div class="container">
        <h1 class="header center orange-text">Hedberg API Demo</h1>
            <div class ="search row center s4">
                <input class ="" type="text" />
            </div>
            <div class="joke row center s6">

                    <p class="joke-rank"> This joke is ranked  </p>
                    <p class="joke-content"></p>
            </div>
            <div class ="row center">
                <a href="/" id="new-joke-button" class="btn-large waves-effect waves-light orange" >Get Another</a>
            </div>

    </div>

</body>
</html>