<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('home')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div class="container">
    <h1 class="header center orange-text">Hedberg API Demo</h1>

        <div class ="search row center">
            <i class="material-icons prefix">search</i>
            <input type="text" placeholder="Search" id="search-term" />
        </div>
        <div id="jokes" class="row center">
            <!--search results will appear here-->
        </div>
        <div class="joke row center">
            <div id="joke" class="card-panel">
                <p class="flow-text joke-content"></p>
                <p class="flow-text joke-rank"></p>
            </div>
        </div>
        <div class ="joke-button row center">
            <a id="new-joke-button" class="btn-large waves-effect waves-light orange">Get Another</a>
        </div>

</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>