<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <title th:text=" 'Mitch Hedberg Rest Demo | ' + ${page_title}">Mitch Hedberg Rest Demo</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="deep-orange darken-1">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Hedberg</a>
            <ul class="right">
                <li><a href="#">Top 5</a> </li>

            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <h1 class="header center orange-text">Hedberg API Demo</h1>

    <div class ="search row center">
        <form>
            <i class="material-icons prefix">search</i>
            <input type="search" placeholder="Search" />
        </form>
    </div>
    <div class="joke row center">
        <div id="joke" class="card-panel">
            <p class="flow-text joke-rank"></p>
            <p class="flow-text joke-content"></p>
        </div>
    </div>
    <div class ="joke-button row center">
        <a id="new-joke-button" class="btn-large waves-effect waves-light orange">Get Another</a>
    </div>

</div>

<div th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="app.js"></script>
</div>

</body>
</html>